/**
 * About stylesheet
 *
 * @author      Niels Dejonghe (niels@zoni.be)
 *
 */


/* =============================================
 * HEADER
 =============================================== */

header .wrapper{
	border-bottom: 1px solid black;
	border-color: #b0a8a8;
	padding-bottom: 2rem;
}
/* =============================================
 * MAIN
 =============================================== */
#aboutintro{
	text-align: center;
	margin-right: 20rem;
	margin-left: 20rem;
	}
#aboutintro h2{
	font-size: 5rem;
	}
#aboutintro p{
	font-size: 1.8rem;
	}
h3{
	color: #116DB0;
}
#wieikben{
	margin-top: 10rem;
	margin-bottom: 15rem; 
	border-left: 1px solid black;
	border-color: #5b5b5b;
	padding-left: 6rem;
	margin-right: 2rem;
	display: flex;
	}

#wieikben img{
	max-width: 30rem;
	max-height: 30rem;
	margin-left: 10rem;

}
#wieikben a {
	color: #333333;
	float: right;
	font-weight: 500;
	margin-top: 5rem;
	font-size: 1.8rem;
}
#wieikben a:after{
	content:" ➙";
}

#watikdoe{
	margin-top: 10rem;
	margin-bottom: 15rem; 
	border-right: 1px solid black;
	border-color: #5b5b5b;
	padding-right: 6rem;    
	margin-right: 2rem;    
	display: flex;
	flex-direction: row-reverse;
}

#watikdoe img{
	max-width: 30rem;
	max-height: 30rem;
	margin-right: 10rem;
}

#watikdoe a {
	color: #333333;
	float: right;
	font-weight: 500;
	margin-top: 5rem;
	font-size: 1.8rem;
}
#watikdoe a:after{
	content:" ➙";
}

#watikdoe a:hover {
	color:#fed42f;
	font-weight: 500;
}

@media (max-width: 60.563em){
	#aboutintro {    
		margin-right: 10rem;
		margin-left: 10rem;
	}

}
@media (max-width: 50.563em){
	#wieikben img {
		max-width: 25rem;
		max-height: 25rem;
	}

}

@media (max-width: 52.625em){
	#wieikben {
		display: block;
	}
	#wieikben img {
		margin-left: 0rem;
		margin-top: 3rem;
	}

	#watikdoe {
		margin-left: 1rem;
		flex-direction: column;

	}
	#watikdoe img {
		margin-right: 0rem;
		margin-top: 3rem;		
	}
	#watikdoe a {
		font-size: 1.6rem;
	}
	

}

@media (max-width: 44.688em){
	#aboutintro {
		margin-right: 5rem;
		margin-left: 5rem;
	}

}


@media (max-width: 31.250em){
	#aboutintro {
	margin-right: 2rem;
	margin-left: 2rem;
	}
	#aboutintro h2 {
	font-size: 3rem;
	}
	#aboutintro p {
	font-size: 1.6rem;
	}
	p {
		font-size: 1.3rem
	}
	#wieikben {
		padding-left: 3.5rem;
	}
	#watikdoe {
		padding-right: 3.5rem;
	}
}

@media (max-width: 23.125em){
	#wieikben img{
		max-width: 20rem;
		max-height: 20rem;
	}
	#watikdoe img{
		max-width: 20rem;
		max-height: 20rem;
	}

}
