/**
 * Contact stylesheet
 *
 * @author      Niels Dejonghe (niels@zoni.be)
 *
 */


/* =============================================
 * HEADER
 =============================================== */

header .wrapper{
	border-bottom: 1px solid black;
	border-color: #b0a8a8;
	padding-bottom: 2rem;
}

/* =============================================
 * MAIN
 =============================================== */
h3 {
	font-size: 3rem;
	font-weight: 400;
}

h3:after {
	content: ""; 
    display: block;
    margin-bottom: 3rem;
    margin-top: 1rem;
	color: transparent;
	border-bottom: 0.2rem solid  #fed42f;	
	padding-right: 3rem;
	margin-right: 95rem;

}


#contactinfo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
#contactinfo a {
	color: #3e3e3e
}
#contactinfo p {
	color: #3e3e3e;
}
i {
	transition: 0.2s;
}
i:hover {
	color: #fed42f;
}

td, th {
	text-align: left;
	padding-right: 2rem;
}
h4 {
	margin-top: 2rem;
}


@media (max-width: 40.625em){
	#contactinfo {
		display: block;
	}

}
