body{
    margin: 0;
    padding: 0;
}


#spel{
    /* background-color:navajowhite; */
    height:100vh;
    width:100vw;
    position:absolute;
    background: url(/Project_mobile2/img/roadv3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


#auto{    
    position:absolute;
    bottom: 10px;
    left: 100px;
    }

#truck1{
    
    position:absolute;
    top: 5vh;
    left: 70vw;
    }
#truck2{

    position:absolute;
    top: -40vh;
    left: 70vw;
}
#truck3{

    position:absolute;
    top: -60vh;
    left: 70vw;
}
#truck4{

    position:absolute;
    top: -80vh;
    left: 70vw;
}
#truck5{

    position:absolute;
    top: -100vh;
    left: 70vw;
}
#truck6{

    position:absolute;
    top: -120vh;
    left: 70vw;
}



#go{

    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;    
    background-color: #fed42f;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #5b5b5b;        
    padding: 0.5rem;
    text-align: center;        
    text-transform: uppercase;
    font-size: 18px;    
    }
#pause{
    visibility: hidden;
    position:absolute;
    top: 50vh;
    right: 5vw;
    background-color: #fed42f;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #5b5b5b;        
    padding: 0.5rem;
    text-align: center;        
    text-transform: uppercase;
    transition: all 0.2s;
    font-size: 16px;
    font-weight: medium;
    /* background-image: url('img/car.png');  
    background-repeat: no-repeat;
    background-size: 40px 40px;   */
    }

#startscherm {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#tekstbeginscherm {
    text-align: center;
    color: #5b5b5b;   
    font-size: 20px;
}
#carStartLeft {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 5%;
    width: 25%;
    position: relative;
    left: 10vw;
    transition: 2s;
    
}
#carStartRight {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 5%;
    width: 25%;
    position: relative;
    left: 70vw;
    transition: 2s;
}

#scorebord {
    visibility: hidden;
    height: 5%;
    width: 5%;
    position: absolute;
    top: 3vh;
    left: 3vw;

}

#eindscherm {
    
    visibility: hidden;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

#teksteindscherm {
    margin-left: 27.5%;
    
}
#restart{
    margin-left: 25%;
    margin-right: 25%;    
    background-color: #fed42f;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #5b5b5b;        
    padding: 0.5rem;
    text-align: center;        
    transition: all 0.2s;
    font-size: 18px; 
    margin-top: 20px;
}

#score{
    color: #fed42f;   
    font-size: 20px;
}

