/**
 * Index stylesheet
 *
 * @author      Niels Dejonghe (niels@zoni.be)
 *
 */

/* =============================================
 * LAYOUT
 =============================================== */

header .wrapper {
    align-items: flex-start;
}




/* =============================================
 * BANNER
 =============================================== */
#banner {
    background-image: url(../img/omslagfoto2.jpg); 
    background-size: cover;      
    overflow: hidden;
    background-position-x: center;
    background-position-y: 20%;
    margin-bottom: 7rem;
    padding-bottom: 40rem;	  
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: 4rem;
    
    
}
.wrapper_banner{   
    max-width: none;
    margin: auto;
}
#banner input {
    max-width: 35rem;               
	cursor: pointer;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
	text-align: center;
	font-size: 1.8rem;
	color: white;
    transition: all 0.4s; 
    border-radius: 4px;
    border-color: #116DB0;
    text-shadow: none;
    background-color: #2f59cc;
    outline: none;
}

#banner input:hover {
    border-radius: 8px;
    border-color: white;
}




/* =============================================
 * MAIN
 =============================================== */
#intro a {
    font-weight: 500;
    font-size: 1.8rem;
}
#intro a:after{
    content:" ➙";
}

#intro a:hover {
    font-weight: 500;
}
#photos a {
    font-weight: 500;
    font-size: 1.8rem;
}
#photos a:after{
    content:" ➙";
}

#photos a:hover {
    font-weight: 500;
}

a{
    color: #116DB0;
}

.wrapper a{
    transition: all 0.2s; 
}


#intro {
    margin-bottom: 15rem; 
    border-left: 1px solid black;
    padding-left: 6rem;
    border-color: #5b5b5b;
    margin-right: 2rem;
}
#intro p{
    font-size: 2rem;
    font-weight: 500;
}

#intro h3 {
    font-size: 3rem;
    color: #116DB0;
}

#intro a {    
    float: right; 
    margin-right: 4rem;
    margin-top: 1.5rem;   
}



#intro div {
    margin-right: 4rem;    
}
#photos img{
    -webkit-box-shadow: 4px 6px 5px 3px rgba(0,0,0,0.1);
-moz-box-shadow: 4px 6px 5px 3px rgba(0,0,0,0.1);
box-shadow: 4px 6px 5px 3px rgba(0,0,0,0.1);
}
#photos img:nth-child(2) {
     align-self: flex-end;
}
#photos img:nth-child(4) {
     align-self: flex-end;
}
#photos img:nth-child(1) {
     align-self: flex-start;
}
#photos img:nth-child(3) {
     align-self: flex-start;
}
#photos img:nth-child(5){
    display: none;
}
#photos div{
    display: flex;  
    align-items: center;    
    height: 36rem;
    justify-content: space-between;
}

#photos img {
    max-height: 20rem;
    max-width: 20rem;    
}

#photos {
    margin-bottom: 15rem;
    margin-left: 2rem;
}

#photos a {    
    float: right;    
    margin-top: 1.5rem;    
}



#photos {
    border-right: 1px solid black;
    border-color: #5b5b5b;
    padding-right: 6rem;
}
#fb-page {
    border-left: 1px solid black;
    border-color: #5b5b5b;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
}
#centreren-fb-page {
    text-align: center;    
}
#fb-page h3 {
    font-size: 3rem;
    color: #116DB0;
    margin-bottom: 2rem;
    float: left;
}





@media (max-width: 60.563em){
    #photos img {
    max-height: 15rem;
    max-width: 15rem;
    }
    #photos div {
    height: 25rem;
    }
}
  

@media (max-width: 46.875em) {
    #photos img {
    max-height: 10rem;
    max-width: 10rem;
    }
    #photos div {
    height: 15rem;
    }
    #banner {
        padding-bottom: 30rem;
    }
    #intro {
        margin-bottom: 15rem;
    }
    #intro p{
    font-size: 1.6rem;
    font-weight: 500;
    }    
    #intro h3 {
    font-size: 2rem;
    }
    #intro a{
    font-size: 1.6rem;    
    }
    #photos a{
    font-size: 1.6rem;
    }
    #banner input {
        max-width: 35rem;               
        cursor: pointer;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
    }
}
@media (max-width: 34.875em) {
    #photos img {
    display: none;  
    }
    #photos img:nth-child(5){
    display: block;
    margin: 0 auto;
    max-height: 30rem;
    max-width: 30rem;
    padding-right: 3rem;
    }
    #photos div {
    height: 30rem;
    padding-left: 0rem;
    padding-right: 0rem;
    }
    #photos {
    padding: 0rem;
    }
    #photos a{
    margin-right: 2rem;
    }

    #intro {
        margin-bottom: 10rem;
    }
    #photos {    
    margin-left: 0rem;
    }
    #intro a {
        margin-right: 1rem;
    }
    #banner {
        padding-bottom: 20rem;
    }
    #fb-page h3 {
        font-size: 2rem;
        
    }
    #fb-page {
        padding-left: 2rem;
    }
    }